{% extends 'app/base.html' %} {% block content %}

<div class="my-5">
  <div class="row product">
    <div class="col-md-6 mb-4 text-center">
      <img src="{{ item_data.image.url }}" alt="item_image" class="img-fluid" />
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body px-2 py-1">
          <div class="p-4">
            <h3>{{ item_data.title }}</h3>
            <p class="mb-3">{{ item_data.category }}</p>
            <hr />
            <p>
              価格：<span class="text-danger font-weight-bold"
                >{{ item_data.price }} 円</span
              >
            </p>
            <p class="font-weight-bold">商品説明</p>
            <p>{{ item_data.description|linebreaksbr }}</p>
            <a href="{% url 'additem' item_data.slug %}" class="btn btn-primary"
              >カートに入れる</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
